.main {
    display: flex;
    flex-direction: column;
    width: 190px;
    background: #00ffa0;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: black;
    align-items: center;
}
.header {
    display: flex;
    height: 10px;
    flex-direction: column;
    gap: 0.5rem;
}
.price {
    display: flex;
    color: #05060f;
    font-size: 1.3rem;
    line-height: 1.25;
    font-weight: 700;
}
.priceWrapper {
    display: flex;
    
}
.priceNumber {
    display: flex;
    color: #05060f;
    font-size: 1.8rem;
    line-height: 1.25;
    font-weight: 700;
}
.priceText {
    display: flex;
    color: #05060f;
    font-size: 1.8rem;
    font-weight: 700;
}
.pricingNote {
    display: flex;
    color: #2d2e34;
    font-weight: 200;
}
.featuresList {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}
.button {
    display: flex;
    width: 100px;
    height: 35px;
    color: #fff;
    justify-content: center;
    background-color: #2d2e34;
    position: relative;
    border-radius: 0.45em;
    font-family: "Arial";
}

.button::before {
  position: absolute;
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
}
.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
}
.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}
.buttonText {
  display: flex;
  border: none;
  background: none;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background: #d51818;
}
.button::after {
  background: #00ffa0;
}