.main {
    width: 190px;
    background: #00ffa0;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: black;
}
.header {
    display: flex;
    height: 10px;
    flex-direction: column;
    gap: 0.5rem;
}
.price {
    display: flex;
    color: #05060f;
    font-size: 1.3rem;
    line-height: 1.25;
    font-weight: 700;
}
.priceNumber {
    display: flex;
    color: #05060f;
    font-size: 1.8rem;
    line-height: 1.25;
    font-weight: 700;
}
.priceText {
    display: flex;
    color: #05060f;
    font-size: 1.8rem;
    font-weight: 700;
}
.pricingNote {
    display: flex;
    color: #2d2e34;
    font-weight: 200;
}
.featuresList {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}
.button {
    display: flex;
    width: 100px;
    height: 35px;
    color: #fff;
    justify-content: center;
    background-color: #2d2e34;
    position: relative;
    border-radius: 0.45em;
    font-family: "Arial";
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}
.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}
.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}
.buttonText {
  display: flex;
  border: none;
  background: none;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}